body {
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(600px, 100%), 1fr));
  grid-gap: 20px
}

.modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.modal-content {
  position: fixed;
  top: 50px;
  bottom: 50px;
  right: 50px;
  left: 50px;

  border-radius: 25px;
  padding: 25px;
  background-color: white;
}
.modal-content > .header {
  display: flex;
  justify-content: space-between;
}
.modal-content > h1 {
  margin-top: 0;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
