{{page-title "Lint to the Future Dashboard"}}

<LinkTo @route="index" class="plain-link"><h1>Lint to the Future Dashboard</h1></LinkTo>

{{outlet}}

<footer>
  This page was generated with <a href="https://github.com/mansona/lint-to-the-future">Lint to the Future</a> which was built with ❤️ by <a href="https://twitter.com/real_ate">Chris Manson</a>
</footer>
