name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  FORCE_COLOR: 1

jobs:
  test:
    name: Frontend Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 14.x
          cache: pnpm
      - run: pnpm i --frozen-lockfile
      - run: pnpm run test:ember

  node-tests:
    name: BackendTests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 14.x
          cache: pnpm
      - run: pnpm i --frozen-lockfile
      - run: pnpm npm run prepublishOnly # make sure the dashboard is built before testing
      - run: pnpm run test:node
